@(account: Option[Entity[Account]])(content: Html)(implicit webJarAssets: WebJarAssets, dao: DAO)
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Авто кондиционеры Рем.Быт.Техника </title>
        <link href="routes.Assets.at("img/favicon.png")" rel="shortcut icon">
        @****
        <link rel='stylesheet' href="@routes.WebJarAssets.at(webJarAssets.locate("foundation.css"))">
        <link rel='stylesheet' href="@routes.WebJarAssets.at(webJarAssets.locate("foundation-icons.css"))">
        ****@
        <link rel='stylesheet' href="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.css"))">
        <link rel='stylesheet' href="@routes.Assets.at("css/templatesite.css")">

    </head>
    <body>
    <div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid-fluid">
            <!-- НАЗВАНИЕ И ТЕТЕФОНЫ -->
            <div class="row">
                <a href="/" class="col-md-5 col-sm-8 col-xs-12 h4 text-info">
                    Авто-климат центр "РЕМ.БЫТ.ТЕХНИКА"
                </a>
                <div class="small col-md-7 col-sm-4 col-xs-12 pull-right">
                    <div class="row">
                        <div class=" col-md-4 "><i class="glyphicon glyphicon-road"></i> ул. Балковская 123</div>
                        <div class=" col-md-3 "><i class="glyphicon glyphicon-time"></i> c 09:00 до 18:00</div>
                    </div>
                    <div class="row  h-divider">
                        <span class="col-md-3 "> <i class="glyphicon glyphicon-phone-alt"></i> +380 (50) 905 12 15 </span>
                        <span class="col-md-3"> <i class="glyphicon glyphicon-phone"></i> +380 (48) 268 81 90 </span>
                    </div>


                </div>
            </div>

            <ul class="nav navbar-nav hidden-xs">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-wrench gi-2x"></span>
                        <!--Услуги -->
                        <span class="caret"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/html/repiar.html">Ремонт</a></li>
                        <li><a href="/html/charging.html">Заправка</a></li>
                        <li><a href="/html/service.html">Обслуживание</a></li>
                        <li><a href="/html/antibacter.html">Антибактериальная обработка</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Консультации</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/html/diagnostic.html">Диагностика</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="glyphicon glyphicon-shopping-cart gi-2x"></i>
                        <!--Товары-->
                        <span class="caret"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@routes.PublicApplication.goods()">Всё</a></li>
                        <li role="separator" class="divider"></li>
                        @for(cat <- dao.categories){
                                <li><a href="@routes.PublicApplication.goods(c = cat)">@cat</a></li>
                        }
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                    @if(account.isEmpty) {
                        <li><a href="@routes.Authentication.login()" class="button success">Login</a></li>
                    } else {
                        @if(account.get.data.isAdmin) {
                            <li><a href="@routes.RestrictedApplication.account()" title="Edit Your Account">
                                <span class="text-danger"> Режим администратора <strong>@account.get.data.name</strong>! </span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    Настройки системы <span class="caret"/>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header text-danger">Редактирование БД</li>
                                    <li><a href="@routes.DzivaApp.editCategories()">Категории товаров</a></li>
                                    <li><a href="@routes.DzivaApp.edititemphoto(None)">Картинки</a></li>
                                    <li><a href="#">Тел. и адресс</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header text-danger">Только если понимашь, что делашь !</li>
                                    <li><a href="@routes.RestrictedApplication.newAccount()" title="Add an Account">Add Account</a></li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                            <!--<li><a href="@routes.RestrictedApplication.newAccount()" title="Add an Account">Add Account</a></li>-->
                    }
                    <li><a href="@routes.Authentication.logout()" class="button alert">Logout</a></li>
                    }
            </ul>
            <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
        </div><!-- /.container-fluid-fluid -->
    </nav>

    <!-- ГЛАВНЫЙ КОНТЕЙНЕР -->

    <div id="main-content" class="row">
            <!-- <CONTENT> -->
        <div class="col-md-2 col-xs-12 col-sm-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-wrench"></span>
                        Авто-кондиционеры
                        <span class="caret"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/html/repiar.html">Ремонт</a></li>
                        <li><a href="/html/charging.html">Заправка</a></li>
                        <li><a href="/html/antibacter.html">Антибактериальная обработка</a></li>
                        <li><a href="/html/service.html">Обслуживание</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Консультации</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Диагностика</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        Товары <span class="caret"></a>
                    <ul class="dropdown-menu">
                        <li><a href="@routes.PublicApplication.goods()">Всё</a></li>
                        <li role="separator" class="divider"></li>
                        @for(cat <- dao.categories){
                        <li><a href="@routes.PublicApplication.goods(c = cat)">@cat</a></li>
                        }
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-fire"></span>
                        Если не работает кондиционер
                        <span class="caret"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Ремонт</a></li>
                        <li><a href="#">Заправка</a></li>
                        <li><a href="#">Обслуживание</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Консультации</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Диагностика</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span>
                        Блог
                        <span class="caret"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Ремонт</a></li>
                        <li><a href="#">Заправка</a></li>
                        <li><a href="#">Обслуживание</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Консультации</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">
                            <span class="glyphicon glyphicon-sunglasses"></span>
                            Диагностика</a></li>
                    </ul>
                </li>
                <li><a href="#">Полезные ссылки</a></li>
            </ul>
        </div>

        <div class="col-md-10 col-xs-12 col-sm-10">
        <!-- CONTENT  -->
            @content
        </div>
    </div>
    <div id="footer" class="navbar-fixed-bottom footer">
        <div class="container-fluid">
            <div class="row pull-right">
                <a href="mailto:stanikol@@gmail.com">(c) Stanislav Nikolnikov</a>
                September 2016
            </div>
        </div>
    </div>
    <script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery.js"))"></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.js"))'></script>
    <script>$(document).ready(
                function () {
                   $('.dropdown-toggle').dropdown();});
    </script>
    </div>
    </body>
</html>
