@(account: Entity[Account], goodsItem: GoodsItem4Sale)(implicit webJarAssets: WebJarAssets)

@*
 **************
 **************
 **************
 *@
@itemId     = @{goodsItem.item.id}
@item4sale  = @{goodsItem.item.data.asMap}

@_template(Some(account))  {
    <form action = '@routes.RestrictedApplication.edititem(itemId))'>
        <fieldset>
            <input id="id"  type="hidden" name="id" value="@itemId" />
            @for( (col, coltitle) <- GoodsItem.header ){
                <div class="row collapse">
                @if(col == "category"){
                    <div class="large-1 columns">
                        <label for="@col" class="right">
                            <span class="label">@coltitle</span>
                        </label>
                    </div>
                    <div class="large-10 columns">
                        <select id="@col" name="@col">
                            @for(cat <- models.db.GoodsCategories.values){
                                if(item4sale("category")==cat){
                                    <option value="@cat" selected>@cat</option>
                                } else {
                                    <option value="@cat" >@cat</option>
                                }
                            }
                        </select>
                    </div>
                } else { @if(col == "pic") {
                    <div class="large-1 columns">
                        <label for="@col" class="right">
                            <span class="label">@coltitle  </span>
                        </label>
                        <img src="data:image/jpeg;charset=utf-8;base64,@goodsItem.pic">
                    </div>
                    <div class="large-10 columns">
                        <input id="@col"  type="text" name="@col" value="@item4sale(col)" />
                    </div>
                } else {
                        <div class="large-1 columns">
                            <label for="@col" class="right">
                            <span class="label">@coltitle</span>
                            </label>
                        </div>
                        <div class="large-10 columns">
                            <input id="@col"  type="text" name="@col" value="@item4sale(col)" />
                        </div>
                }}
                </div>
            }
        <input name='action' type="submit" value="Сохранить"/>
        <input name='action' type="submit" value="Удалить" />
        <input name='action' type="submit" value="Новый"/>
        </fieldset>
    </form>
}
