@(account: Entity[Account], goodsRowForm: Form[models.db.Tables.GoodsRow], base64img: Option[String]=None)(implicit webJarAssets: WebJarAssets, dao: DAO)

@*
 **************
 **************
 **************
 *@
@itemId     = @{goodsRowForm("id").value.getOrElse("0").toInt}
@formFieldsValues  = @{ goodsRowForm(_: String).value.getOrElse("") }

@_template(Some(account))  {
    <div class="container-fluid">
        <form action = '@routes.RestrictedApplication.edititem(itemId)' method="post">
            <fieldset>
                <input id="id"  type="hidden" name="id" value="@itemId" />
                @for( (col, coltitle) <- models.GoodsItem.header ){
                    <div class="form-group row">
                    @if(col == "category"){
                        <label for="@col" class="col-md-2">@coltitle</label>
                        <select id="@col" name="category" class="col-md-8">
                            @for(cat <- dao.categories){
                                @if(formFieldsValues("category")==cat.toString){
                                    <option value="@cat" selected>@cat</option>
                                } else {
                                    <option value="@cat" >@cat</option>
                                }
                            }
                        </select>
                    } else { @if(col == "pic") {
                            <label for="@col" class="col-md-2">@coltitle</label>
                            <div class="col-md-4">
                            <a href="@routes.RestrictedApplication.edititemphoto(itemId)" >
                                <img src="@base64img.getOrElse("No photo")" class="col-md-8">
                            </a>
                                </div>
                            <input type="hidden" name="pic" value="@formFieldsValues(col)"/>
                    } else { @if(col == "description") {
                        <label for="@col" class="col-md-2">@coltitle</label>
                        <textarea id="@col" name="@col" rows="3" class="col-md-10">@formFieldsValues(col)</textarea>
                    } else {
                            <label for="@col" class="col-md-2">@coltitle</label>
                            <input id="@col"  type="text" name="@col" value="@formFieldsValues(col)" class="col-md-10"/>
                    }}}
                    </div>
                }
                <div class="row">
                    <div class="col-md-12">
                        <input name='action' type="submit" value="Сохранить" class="btn btn-primary"/>
                        <input name='action' type="submit" value="Удалить" class="btn btn-danger"/>
                        <a href="@routes.RestrictedApplication.newitem()" class="btn btn-warning">Новый</a>
                        <a href="@routes.PublicApplication.goods()" class="btn btn-default pull-right">Перечень товаров</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
}
