@(account: Option[Entity[Account]], goodsSeq: Seq[Entity[GoodsItem]], searchForm : Form[FormData.GoodsSearchFormData])(implicit webJarAssets: WebJarAssets)

@formSubmitBackRoute = @{ if(account.isDefined && account.get.data.isAdmin) routes.RestrictedApplication.edititem(_)
                          else routes.PublicApplication.showitem(_) }

@_template(account) {
    <div class="row column">
        <form action="@routes.PublicApplication.goods()">
            <legend>Поиск</legend>
            <fieldset>
                <div class="row">
                    <div class="column large-4">
                        <input placeholder="Запрос" name="q" type="text" value="@searchForm("q").value" />
                    </div>
                    <div class="column large-1 right">
                        <input type="submit" value="Искать" class="button"/>
                    </div>
                    <div class="column large-2 right">
                        <select name="cat">
                            <option value="">Все</option>
                            @for(cat <- models.db.GoodsCategories.values){
                                <option value="@cat" @{ if(cat.toString == searchForm("cat").value.getOrElse("")) "selected" else "" }>@cat</option>
                            }
                        </select>
                    </div>
                    <div>
                    @account.map { user =>
                        @if(user.data.isAdmin){
                            <a href="@routes.RestrictedApplication.edititem(1)&action=Новый" class="button">Новый товар</a>
                        }
                    </div>
                    }
                </div>
            </fieldset>
        </form>
    </div>
    <div class="row column">
        <table class="stack">
            <thead>
                <tr>
                    @for( (col, colTitle) <- GoodsItem.header ){
                        <th>@colTitle</th>
                    }
                </tr>
            </thead>
            <tbody>
            @for( goodsItem <- goodsSeq ){
                <tr>
                    @for( (col, colTitle) <- GoodsItem.header ){
                        <td class="css-@col">
                            <a href="@formSubmitBackRoute(goodsItem.id)">
                                @goodsItem.data.asMap(col)
                            </a>
                        </td>
                    }
                </tr>
            }

        </table>
    </div>
}
