@(account: Option[Entity[Account]], goodsWithPicSeq: Seq[models.db.Tables.GoodsviewRow], searchForm : Form[FormData.GoodsSearchFormData])(implicit webJarAssets: WebJarAssets)


@formSubmitBackRoute = @{ if(account.isDefined && account.get.data.isAdmin) routes.RestrictedApplication.edititem(_)
                          else routes.PublicApplication.showitem(_) }
@import helpers.Hlp._

@_template(account) {
    <div class="row ">
        <form action="@routes.PublicApplication.goods()">
            <legend>Поиск</legend>
            <fieldset>
                <div class="row">
                    <div class="column large-4">
                        <input placeholder="Запрос" name="q" type="text" value="@searchForm("q").value" />
                    </div>
                    <div class="column large-1 right">
                        <input type="submit" value="Искать" class="button"/>
                    </div>
                    <div class="column large-2 right">
                        <select name="cat">
                            <option value="">Все</option>
                            @for(cat <- models.db.GoodsCategories.values){
                                <option value="@cat" @{ if(cat.toString == searchForm("cat").value.getOrElse("")) "selected" else "" }>@cat</option>
                            }
                        </select>
                    </div>
                    <div>
                    @account.map { user =>
                        @if(user.data.isAdmin){
                            <a href="@routes.RestrictedApplication.edititem(1)&action=Новый" class="button">Новый товар</a>
                        }
                    </div>
                    }
                </div>
            </fieldset>
        </form>
    </div>



    <div class="row">
        <div class="column large-8">

        <table class="stack hover table-scroll column" >
            <thead>
                <tr>
                    <th width="20%"> Фото </th>
                    <th> Описание </th>
                    <th> Цена </th>
                </tr>
            </thead>
            <tbody>
            @for( goodsItemWithPic <- goodsWithPicSeq ){
                <tr>
                    <td class="css-pic ">
                        <a href="@formSubmitBackRoute(goodsItemWithPic.id.get)">
                            @if(goodsItemWithPic.base64.isEmpty){
                                    NO PHOTO
                            } else {
                                <img src="@goodsItemWithPic.base64"/>
                            }
                        </a>
                    </td>
                    <td class="css-descript  ">
                        <a href="@formSubmitBackRoute(goodsItemWithPic.id.get)">
                            @goodsItemWithPic.description.getOrElse("").split("\n").map { line =>
                                @line <br>
                            }
                        </a>
                    </td>
                    <td class="css-descript  ">
                        <a href="@formSubmitBackRoute(goodsItemWithPic.id.get)">
                            @goodsItemWithPic.price
                        </a>
                    </td>
                    </a>
                </tr>
            }
            </tbody>
        </table>
        </div>
    </div>
   @*****************************************
    <div class="row">
        <table class="stack">
            <thead>
                <tr>
                    <th></th>
                    @for( (col, colTitle) <- GoodsItem.header ){
                        <th>@colTitle</th>
                    }
                </tr>
            </thead>
            <tbody>
            @for( goodsItemWithPic <- goodsWithPicSeq ){
                <tr>
                    <td class="css-pic">
                        <img src="@goodsItemWithPic.base64">
                        </img>
                    </td>
                    @for( (col, colTitle) <- GoodsItem.header ){
                        <td class="css-@col">
                            <a href="@formSubmitBackRoute(goodsItemWithPic.id.get)">
                                @goodsItemWithPic.asMap(col)
                            </a>
                        </td>
                    }
                </tr>
            }

        </table>
    </div>
    *******************************************@
}
