@(account: Option[Entity[Account]], currentPage: models.Page[models.db.Tables.GoodsviewRow], searchForm : Form[models.FormData.GoodsSearchFormData])(implicit webJarAssets: WebJarAssets, dao: DAO)


@formSubmitBackRoute = @{ if(account.isDefined && account.get.data.isAdmin) routes.RestrictedApplication.edititem(_: Int)
                          else routes.PublicApplication.showitem(_: Int) }
@import helpers.Hlp._


@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int) = @{
    routes.PublicApplication.goods(q = searchForm("q").value.getOrElse(""), c = searchForm("c").value.getOrElse(""), p = newPage)
}

@_template(account) {
    <div class="container">
        <div class="row ">
            <form action="@routes.PublicApplication.goods()">
                <fieldset>
                    <input  placeholder="Запрос" name="q" type="text" value="@searchForm("q").value" width="100%"></input>
                    <input  type="submit" value="Искать" class="button"/>
                    <select  name="c">
                        <option value="">Все</option>
                        @for(cat <- dao.categories){
                            @if(cat == searchForm("c").value.get){
                                <option value="@cat" selected>@cat</option>
                            } else {
                                <option value="@cat">@cat</option>
                            }
                        }
                    </select>
                    <!--ADMIN PART Новый товар BUTTON -->
                    @account.map { user =>
                        @if(user.data.isAdmin){
                            <div><a class="pull-right btn btn-warning" href="@routes.RestrictedApplication.newitem()">Новый товар</a></div>
                        }
                    }
                </fieldset>
            </form>
        </div>
        <!--TABLE WITH GOODS: HEADER-->
        <div class="row">
            <div class="row hidden-xs hidden-sm text-muted">
                <div class="photo col-sm-3 col-md-3 col-lg-4"><h2>Фото</h2></div>
                <div class="descr col-sm-6 col-md-6 col-lg-6"><h2>Описание</h2></div>
                <div class="price col-sm-3 col-md-3 col-lg-2"><h2>Цена</h2></div>
            </div>
        </div>
        <!--TABLE WITH GOODS: BODY-->
        @for( goodsItemWithPic <- currentPage.items ){
            <div class="row">
                <a href="@formSubmitBackRoute(goodsItemWithPic.id.get)">
                    <div class="col-sm-3 col-md-3 col-lg-4">
                        @if(goodsItemWithPic.base64.isEmpty){
                        NO PHOTO
                        } else {
                        <img src="@goodsItemWithPic.base64" class="img-responsive" />
                        }
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <h3>@goodsItemWithPic.title.getOrElse("")</h3>
                        <h6>@goodsItemWithPic.description.getOrElse("")</h6>
                        <div><span class="text-muted">Категория:</span>
                             <span class="text-primary">@goodsItemWithPic.category.getOrElse("")</span>
                        </div>
                        <div><span class="text-muted">Производитель:</span>
                            <span class="text-primary">@goodsItemWithPic.producedby.getOrElse("")</span>
                        </div>
                        <div><span class="text-muted">Торговая марка:</span>
                            <span class="text-primary">@goodsItemWithPic.trademark.getOrElse("")</span>
                        </div>
                        <div><span class="text-muted">Состояние:</span>
                            <span class="text-primary">@goodsItemWithPic.state.getOrElse("")</span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <h4>@goodsItemWithPic.price.getOrElse("")</h4>
                    </div>
                </a>
            </div>
        }
        <!--PAGINATION-->
        <div id="pagination" >
            <ul class="list-inline">
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Предыдущая </a>
                    </li>
                }.getOrElse {
                    <li class="prev disabled">
                        &larr; Предыдущая
                    </li>
                }
                <li class="current">
                    <a>Позиции с @(currentPage.offset + 1) по @(currentPage.offset + currentPage.items.size). Всего @currentPage.total.</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Следующая &rarr;</a>
                    </li>
                }.getOrElse {
                    <li class="next disabled">
                        Следующая &rarr;
                    </li>
                }
            </ul>
        </div>
    </div>
}
