@(account: Option[Entity[Account]])(implicit webJarAssets: WebJarAssets, dao: DAO)
@_template(account) {
<div class="container-fluid">
        <h1>Авто кондиционеры Рем.Быт.Техника </h1>
        <ul>
            <li>
                25 лет опыта профессионального обслуживания бытовых и промышленых автокондиционеров и климат-систем.
            </li>
            <li>
                Качесто, поверреное временем.
            </li>
        </ul>

    <div class="row">

        <img src="@routes.Assets.at("img/cat-1417278_1280.jpg")" alt="a cat" class="col-md-6 col-xs-6 col-sm-6"/>
        <div class="col-md-6 col-xs-6 col-sm-6">
            <p>
                Это сайт находится в состоянии разработки.
            </p>

        </div>
    </div>
</div>
}
