@(loginForm: Form[FormDataLogin])(implicit webJarAssets: WebJarAssets, dao: DAO)
@_template(None) {
    <form method="post" action="@routes.Authentication.login()" class="form-horizontal" role="form">
    <div class="container">
        <div class="row">
                <label class="col-md-1">User
                </label>
                <input type="email" placeholder="write@@your.email" name="email" class="col-md-5" value="admin@@tetrao.eu" required/>
                @loginForm.error("email").map { formError =>
                    <span class="form-error is-visible">@formError.message</span>
                }
        </div>
        <div class="row">
                <label class="col-md-1">Password
                </label>
                <input type="password" placeholder="password" name="password" class="col-md-5" required value="password"/>
                @loginForm.error("password").map { formError =>
                    <span class="form-error is-visible">@formError.message</span>
                }
        </div>
        <div class="row">
                <div class="row">
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                    <div class="col-md-1">
                        <a href="@routes.PublicApplication.index()" class="btn btn-warning">Cancel</a>
                    </div>
            </div>
        </div>
        <div class="row column">
            <blockquote>
                <p>Remember that default users are:</p>
                <ul>
                    <li>Admin user <code>admin@@tetrao.eu</code> with password <code>password</code></li>
                    <li>Normal user <code>bob@@tetrao.eu</code> with password <code>password</code></li>
                </ul>
            </blockquote>
        </div>
        </div>
    </form>
}
